body {
  background: linear-gradient(89deg, #FF5EDF 0%, #04C8DE 100%);
  opacity: 0.7;
}

.App {
  background: #04C8DE;
  box-shadow: 10px #04C8DE;
  min-height: 800px;
  width: 600px;
  margin: 30px auto;
  text-align: center;
}

#to-do-form input{
  background-color: rgb(29, 24, 24);
  min-height: 60px;
  width: 300px;
  margin: 30px;
  font-size: 15px;
  border: none;
  padding: 0 20px;
  color: #fff;
}
#to-do-form input:focuse,#to-do-form button:focus{
  outline: none;
}
#to-do-form::placeholder{
  color: cornflowerblue;
}

#to-do-form button {
  height: 60px;
  width: 70px;
  border: none;
  background-color: rgb(24, 20, 20);
  cursor: pointer;
  color: #fff;
}